<% content_for :head do %>
<style type="text/css">

	body {
		background-image:url(<%= asset_path 'login_bg.jpg'%>);
		background-color:#222;
	}
	.notice {
		background-color:#fff;
	}
	.warning {
		background-color:#fff;
	}
</style>
<% end %>

<div id="login_form">
  <%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.inputs do %>
      <%#= f.text_field :username, :label => false %>
      <%#= f.password_field :password %>
      <%= f.input :username, :label => false %>
      <%= f.input :password, :label => false %>
      <%= subtle_value_tag("user_username", "Username") %>
      <%= hidden_field_tag "redirect", params[:redirect] %>
    <% end %>
    
    <%= f.actions do %>
      <%= f.action :submit, :label => "Login (#{Rails.env})" %>
    <% end %>
  <% end %>
</div>

<% if devise_mapping.omniauthable? %>
  <div id="external_login">
    <hr/>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{provider.to_s.upcase}", omniauth_authorize_path(resource_name, provider), :class => "btn btn-primary" %><br />
    <% end %>
  </div>
<% end %>
