<div id="login_form">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.text_field :username %>
    <%= f.password_field :password %>
    <%= subtle_value_tag("username", "Username") %><br />
    <%= hidden_field_tag "redirect", params[:redirect] %>

    <%= f.submit "Login (#{Rails.env})" %>
  <% end %>
</div>
