<h2>Listing settings</h2>
<%= semantic_form_for "settings", :method => :put do |f| %>

  <%= f.inputs :name => "Authentication" do %>
    <% Settings.all('external_auth.').each_pair do |setting,value| %>
      <%= f.input setting, :label => setting_label(setting), :input_html => { :value => value } %>
    <% end %>
  <% end %>
  
  <%= f.inputs :name => "Mailer Settings" do %>
    <% Settings.all('action_mailer.').each_pair do |setting,value| %>
      <%= f.input setting, :label => setting_label(setting),  :input_html => { :value => value } %>
    <% end %>
  <% end %>

  <%= f.inputs :name => "SMTP Settings" do %>
    <%= f.semantic_fields_for "smtp" do |s| %>
      <% Settings.all('smtp')['smtp'].each do |setting,value| %>
        <%= s.input setting, :label => setting_label(setting),  :input_html => { :value => value } %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.inputs :name => "Sendmail Settings" do %>
    <%= f.semantic_fields_for "sendmail" do |s| %>
      <% Settings.all('sendmail')['sendmail'].each do |setting,value| %>
        <%= s.input setting, :label => setting_label(setting),  :input_html => { :value => value } %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :button_html => { :value => "Update" } %>
  <% end %>
<% end %>