<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Munki Server: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'blueprint/screen.css', :media => "screen, projection" %>
	<%= stylesheet_link_tag 'blueprint/print.css', :media => "print" %>
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<%= stylesheet_link_tag 'jquery.asmselect', 'jquery.autocomplete', 'jqueryTabs.css' %>
	<%= stylesheet_link_tag 'dropdown/styles.css', 'dropdown/theme.css' %>
	<%= stylesheet_link_tag 'style', 'jquery-ui-timepicker-addon' %>
	<%= stylesheet_link_tag 'codemirror/codemirror.css', 'codemirror/clike.css', 'codemirror/xml.css' %>

	<%= javascript_include_tag "jquery.min", "jquery-ui.min", "rails.jquery", "application","jquery.asmselect", "jquery.autocomplete.min", "rails.validations", "jquery.lightbox_me", "jquery-ui-timepicker-addon"%>
	<%#= javascript_include_tag "jquery.ui.core", "jquery.ui.widget", "jquery.ui.tabs" %>
	<%= javascript_include_tag "codemirror/codemirror.js", "codemirror/clike.js", "codemirror/xml.js" %>
	<%= javascript_include_tag "highcharts/highcharts.js" %>
	
	<%= csrf_meta_tag %>
</head>
</html>
<body>
<%= yield %>
</body>
